*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.tabWrapper
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    cursor: pointer;
}

.tabWrapper p.active
{
    border-bottom: 1px solid blue;
    color:blue;
}
